* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin: auto;
  max-width: 455px;
  width: 100%;
  background-color: white;
  color: #677788;
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 4px 8px 13px rgba(58, 58, 58, 0.15);
}

.logoimage {
  display: flex;
}

.btn {
  align-self: center;
  width: 50px;
  height: 30px;
  margin-left: 20px;
  background-color: #fff;
  border: 0.5px solid #677788;
  font-size: 10px;
  color: #677788;
  border-radius: 4px;
}

.profileimage {
  display: flex;
  margin: 20px 0px;
}

.profileimagecontainer {
  margin: auto;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: url(images/User.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.empty {
  align-self: center;
}

form .user-details .input-box {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;

}

form .input-box span.details {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 14px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-left: 20px;
  border: 0.2px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


form .company-details .company-title {
  font-size: 10px;
  font-weight: 250;
}

form .category {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
  background: #83489b;
  border-color: #d9d9d9;
}

.company-details {
  border: 0.5px solid #acb5be;
  border-radius: 5px;
}

.company {
  font-size: 14px;
}


form input[type="radio"] {
  display: none;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

form .button {
  display: inline-block;
  height: 45px;
}

form .button input {
  height: 80%;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #00d179;
  margin: 0 8px 0 8px;
  margin-bottom: 10px;
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #a9bacc, #03804c);
}

#input {
  font-size: 12px;
  font-weight: 300;
  color: #677788;

}

datalist {
  position: relative;
  background-color: white;
  border-radius: 0 0 5px 5px;
  border-top: none;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

option {
  background-color: white;
  padding: 4px;
  margin-bottom: 1px;
  font-size: 12px;
  cursor: pointer;
}

option:hover,
.active {
  background-color: lightblue;
}

.icon-f {
  margin: auto;
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon {

  border: 0.5px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.icon span {
  padding: 10px 15px;
}

@media (max-width: 200px) {
  .logoimage img {
    width: 35px;
  }

  .logoimage .btn {
    width: 25px;
    height: 15px;
    margin-left: 10px;
    font-size: 5px;
  }

  .profileimage {
    margin: 10px 0px;
  }

  .profileimagecontainer {
    width: 47.5px;
    height: 47.5px;
  }

  .container {
    padding: 0px 0px;
  }

  .empty {
    left: 0;
  }

  .empty input[type="button"] {
    position: relative;
    height: 15px;
    width: 25px;
    font-size: 5px;
  }

  .user-details .input-box input {
    height: 15px;
    width: 70%;
    outline: none;
    font-size: 12px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 10px;
    border: 0.2px solid #ccc;
    border-bottom-width: 1px;
    transition: all 0.3s ease;
  }

  .input-box .details {
    font-size: 12px;
  }

  .input-box .icon {
    height: 15px;
    width: 70%;
  }

  .icon-f {
    height: 20px;
    width: 20px;
  }

  .company-details {
    height: 15px;
    width: 70%;
  }

  .buttons {
    margin-top: 0px;
  }

  form .button input {
    margin: auto;
    width: 30px;
    height: 15px;
    font-size: 5px;
    padding-left: 2px;
  }

  form .category label .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2.5px solid transparent;
  }

  .company {
    font-size: 10px;
  }
}